.divider5{
	height: 5px;
}
.divider10{
	height: 10px;
}
.divider15{
	height: 15px;
}
.divider20{
	height: 20px;
}
.divider25{
	height: 25px;
}

.main-footer{
	font-size: 14px; 
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header{
	height: 115px;
}

.info-box-content{
	a{
		color: #000; 
		span{
			color: #000;
		}
	}
}


.block-section.tree, 
.block-section.tree ul {
    margin:0;
    padding:0;
    list-style:none
}
.block-section.tree ul {
    margin-left:1em;
    position:relative
}
.block-section.tree ul ul {
    margin-left:.5em
}
.block-section.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}
.block-section.tree i.fa{
    display: inline-block !important;
}
.block-section.tree li > ul li,
.block-section.tree li.branch{
	display: block !important;
}
.block-section.tree li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    color:#369;
    font-weight:700;
    position:relative
}
.block-section.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0;
}
.block-section.tree ul li:last-child:before {
    background:#fff;
    height:auto;
    top:1em;
    bottom:0;
}
.indicator {
    margin-right:5px;
}
.block-section.tree li a {
    text-decoration: none;
    color:#369;
}
.block-section.tree li button, 
.block-section.tree li button:active, 
.block-section.tree li button:focus {
    text-decoration: none;
    color:#369;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0px;
 }

 .lines-grey{
    margin: 1.5em 0;
    background: #ccc; 
    height: 2px; width: 100%;
 }

 table.lists_case_m{
    tr.d_baru{
        td{
            background-color: #fff;
        }
    }
    tr.d_selesai{
        td{
            background-color: #48BB4D;
            color: #fff;
        }
    }
    tr.d_progress{
        td{
            background-color: #f5f5f5;
        }
    }
    tr.d_warning2,
    tr.d_terlambat{
        td{
            background-color: #da2d2d; 
            color: #fff;
        }
    }
    tr.d_warning{
        td{
            background-color: #f3b91c; 
            color: #fff;
        }
    }
    
 }

 .boxs_filter_proyek_tp{
    button{
        border-radius: 0px;
    }
    clear: both;    
 }
 .fz12{
    font-size: 10px !important;
 }

.d-block{
    display: block;
}
 .d-inline{
    display: inline;
 }
 .d-inline-block{
    display: inline-block;
 }
 .align-middle{
    vertical-align: middle;
 }
 .pl-1{
    padding-left: 0.4rem;
 }
 .pl-2{
    padding-left: 0.8rem
 }
 .pr-1{
    padding-right: 0.4rem;
 }
 .pr-2{
    padding-right: 0.8rem;
 }

 .blocks_loading.hides{
    display: none;
 }
 .blocks_loading{
    background-color: rgba(255,255,255, 0.55);
    position: fixed;
    width: 100%; height: 100%;
    z-index: 1000;
    display: table;
    vertical-align: middle;
    top: 0px; left: 0px;
    text-align: center;
    .inner{
        display: table-cell;
        vertical-align: middle;   
        text-align: center; 
        width: 100%;
        height: 100%;
    }
    i.fa{
        color: #888;
    }
 }
 .logo-loading{
    background: url('../images/loading.gif') no-repeat;
    width: 150px;
    height: 150px;
    background-size: cover;
    display: block;
    margin: 0 auto;
 }


 .clear,
 .clearfix{
    clear: both;
 }

 .outers-block-wrappergm{
    padding: 2.5rem 0.5rem;
    .table-bordered {
        border: 1px solid #ccc;
        td, th{
            border-color: #ccc !important;
            border-radius: 0px;
        }
        margin-bottom: 0;
    }
    .lists-shortcut{
        background-color: #fff;
        border-radius: 5px; 
        // padding: 1rem;
        // -webkit-box-shadow: 0px 0px 12px 0px rgba(50, 50, 50, 0.25);
        // -moz-box-shadow:    0px 0px 12px 0px rgba(50, 50, 50, 0.25);
        // box-shadow:         0px 0px 12px 0px rgba(50, 50, 50, 0.25);
        table{
            thead{
                th{
                    font-size: 14px;
                }
            }
            tbody{
                td{
                    font-size: 13px;
                    a{
                        color: #000;
                        text-decoration: none;
                    }
                    a:hover,
                    a:focus{
                        color: #3c8dbc;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    margin: 0;
 }

 span.customs_search{
    font-size: 23px;
    display: inline-block;
    padding-left: 1.5rem;
    text-decoration: underline;
    color: #000;
 }

 .h-5{
    padding: 1rem;
 }
 .h-10{
    padding: 1.5rem;
 }
 .h-15{
    padding: 2rem;
 }

 .card {
    border-radius: 0;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card .card-header {
    font-weight: 600;
}
.p-5 {
    padding: 2rem !important;
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}