@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
// font-family: 'Open Sans', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
// font-family: 'Kanit', sans-serif;

// Variabel
@images: "../images";
@roboto: 'Roboto', sans-serif;
@opensans: 'Open Sans', sans-serif;
@color_gren : #0d795b;
@color_default: #09543f;

// Font
@header-h1:{
	font-family: @opensans;
	font-size: 40px;
	font-weight: 700;
	color: #9c9c9c;
	margin-bottom: 20px; 
};
@header-h2:{
	font-family: @opensans;
	font-size: 35px;
	font-weight: 700;
	color: #9c9c9c;
	margin-bottom: 20px; 
};
@header-h3:{
	font-family: @opensans;
	font-size: 30px;
	font-weight: 700;
	color: #9c9c9c;
	margin-bottom: 20px; 
};
@header-h5:{
	font-family: @opensans;
	font-size: 25px;
	font-weight: 700;
	color: #9c9c9c;
	margin-bottom: 20px;
};

@shadows:{
	-webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:    2px 2px 6px 0px rgba(0, 0, 0, 0.25);
	box-shadow:         2px 2px 6px 0px rgba(0, 0, 0, 0.25);
};

body{
	background-color: #fff;
	color: #000;
	font-family: @opensans;
}

.container{
  max-width: 1320px
}

@media screen and (min-width: 1650px) {
  // .container.width_less{
  //   max-width: 1745px;
  // }
}

.line-grey{
	height: 1px;
	background-color: #828282;
}
.short-line-white{
	height: 3px; 
	width: 31px;
	background-color: #fff;
}

.generate-height(50);
.generate-height(@n, @i: 0) when (@i =< @n) {
  .height-@{i} {
    height: (1px * @i);
  }
  .margin-@{i} {
    margin: (1px * @i);
  }
  .margin-top-@{i} {
    margin-top: (1px * @i);
  }
  .margin-bottom-@{i} {
    margin-bottom: (1px * @i);
  }
  .margin-left-@{i} {
    margin-left: (1px * @i);
  }
  .margin-right-@{i} {
    margin-right: (1px * @i);
  }
  .margin-left-right-@{i} {
    margin-left: (1px * @i);
    margin-right: (1px * @i);
  }
  .padding-@{i} {
    padding: (1px * @i);
  }
  .padding-top-@{i} {
    padding-top: (1px * @i);
  }
  .padding-bottom-@{i} {
    padding-bottom: (1px * @i);
  }
  .padding-left-@{i} {
    padding-left: (1px * @i);
  }
  .padding-right-@{i} {
    padding-right: (1px * @i);
  }
  .padding-left-right-@{i} {
    padding-left: (1px * @i);
    padding-right: (1px * @i);
  }
  .generate-height(@n, (@i + 1));
}

.clear{
  clear: both;
}
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.content-text{
  color: #000;
  font-size: 13px;
  h3{
    @header-h3();
  }
  h5{
    @header-h3();
  }
  p{
    font-size: 10px;
    line-height: 1.5;
    color: #fff;
  }
}
html{
  width: 100%;
  height: 100%;
}

.prelatife{
  position: relative;
}

body.background{
  // background-image: url('../images/background-landing.jpg');
  background-color: #000;
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: table;
  vertical-align: middle;
  text-align: center;
  div{
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 100%;
    display: table-cell;
    a{
      font-size: 12px;
      font-weight: 700;
      color: #fff;
    }
    a:hover{
      text-decoration: none;
      color: #fff;
    }
  }
}

.d-inlines{
  display: inline-block;
  vertical-align: top;
}
.clearfix,
.clear{
  clear: both;
}
.hide,.hidden{
  display: none; 
}
.pt-3px{
  padding-top: 3px;
}
.mb-45, .my-45{
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

@import "header.less"; 
// @import "login.less";
@import "footer.less";

.content-text{
  text-align: left;
  color: #fff;
  p{
    font-size: 10px;
    line-height: 1.5;
    color: #fff;
  }
  > h2{
    font-size: 17px;
    color: #fff;
  }
  > h3{
    font-size: 15px;
    color: #fff;
    text-align: left;
  }
  > h4{
    font-size: 13px;
    color: #fff;
  }
  > h5{
    font-size: 10px;
    color: #fff;
  }
}

.table-out{
  display: table; width: 100%; height: 100%; vertical-align: middle; text-align: center;
  .table-in{
    display: table-cell; width: 100%; height: 100%; vertical-align: middle; text-align: center;
  }
}

// dashboards
#content{
  padding: 0px;
}
.blocks-tops-search{
  nav.navbar{
    border-bottom: 0px;
    padding: 27px 15px;
    background-color: #e2e2e2;
    background: #e2e2e2;
    color: #333333;
  }
  .inner-bx-search{
    form{
      input{
        min-width: 320px;
        background-color: transparent;
        border-color: #959595;
        border-radius: 0px;
      }
      button{
        border-radius: 0px;
        background: none; background-color: transparent;

        background-color: @color_default; border-color: @color_default;
      }
    }
  }
  .navbar.bg-light{
    padding-left: 3em; padding-right: 3em;
    .row{
      width: 100%;
    }
  }
  ul.nav.navbar-nav{
    li{
      padding: 0 10px; 
      a{
        padding-top: 0px; padding-bottom: 0; 
      }
    }
  }
  clear: both;
  background-color: #e2e2e2;
  border-bottom: 0px;
}

.icon-sarana{
  display: inline-block;
  content: "";
}

.lists-shortcut{
  .items{
    background: #fff;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    5px 5px 15px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         5px 5px 15px 0px rgba(50, 50, 50, 0.2);
    max-width: 265px;
    padding: 2.5em 2em;
    border-top: 5px solid @color_default;
    span.names{
      display: block;
      text-align: center;
      color: @color_default;
      font-size: 15px; padding-bottom: 1em; text-transform: uppercase;
    }
    img{
      
    }
    clear: both;
  }
  clear: both;
}

.card{
  border-radius: 0px;
  .card-header{
    font-weight: 600;
  }
}

#content{
  background: #ececec;
}

.card.default_card{
  border-radius: 0px;
  -webkit-box-shadow: 5px 5px 15px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow:    5px 5px 15px 0px rgba(50, 50, 50, 0.1);
  box-shadow:         5px 5px 15px 0px rgba(50, 50, 50, 0.1);
  position: relative; z-index: 65;

  .card-header{
    border-radius: 0px;
    background-color: #fff;
    border-bottom-color: #e7f6f2;
    padding-top: 1em; 
    padding-bottom: 0.7em;
    border-top: 5px solid @color_default; 
    h5{
      margin-bottom: 0; 
      line-height: 1.9;
      color: @color_gren;
    }

    .filter-showsdata{
      input, select, button{
        border-radius: 0px;
      }
      button{
        font-size: 12px;
        padding-top: 0.8em; padding-bottom: 0.8em;
      }
      label{
        font-size: 12px; font-weight: 400; 
      }
      select{
        font-size: 12px; 
      }
    }
  }
  .card-body{
    border-radius: 0px;
    padding-left: 0; padding-right: 0;
    table{
      thead{
        tr{
          td, th{
            background-color: #e7f6f2;
            color: #0b684e;
            text-transform: uppercase;
            font-size: 15px;
            border-bottom: 0px; border-top: 0px;
          }
          th:first-child{
            padding-left: 1.6em;
          }
        }
      }
      tbody{
        tr{
          td{
            font-size: 13.5px; font-weight: 400;
            border-top: 0px; color: #333333;
            border-bottom: 1px solid #dee2e6;
          }
          td:first-child{ 
            padding-left: 1.6em;
          }
        }
      }
    }

    .blocks-list-video{
      .items{
        .frame_video{
          iframe{}

        }
        .info{
          padding: 0.5em 0.6em;
          h3.title{
            font-size: 0.85em; font-weight: 600; line-height: 1.4;
          }
        }
        margin-bottom: 0.65em;
      }
      clear: both;
    }

    .padding-def-content{
      padding-left: 1.6em;
      padding-right: 1.6em;
    }

    .detail-content-post{
      h6.category{
        font-size: 13px; font-weight: 400; color: #000;
        margin-bottom: 0.5em;
      }
      .block-titles{
        background-color: #e7f6f2;
        padding: 0.7em 1.6em 0.6em;
        margin-bottom: 0.65em;
        h2.title{
          font-size: 20px;
          color: #0b684e;
        }
      }
      span.dates{
        font-size: 12px; display: block; margin-bottom: 1em;
        i.fa{ color: @color_gren; font-size: 12px; }
      }
      .frame_video{
        border: 3px solid #ccc; margin-bottom: 1.2em;
        iframe{

        }
      }
      img{
        max-width: 100%;
      }
      span{
        // font-size: 14px !important;
      }
      p{
        // font-size: 14px !important;
        font-weight: 400; color: #333333;
        line-height: 1.5; margin-bottom: 20px;
        b,strong{
          font-weight: 600; font-size: 14.5px;
        }
      }
      ul{
        li{
          font-size: 14px; font-weight: 400; color: #333;
          b,strong{
            font-weight: 600; font-size: 14.5px;
          }
        }
      }

      clear: both;
    }

    clear: both;
  }
}
#sidebar .sidebar-header{
  padding: 30px 20px 25px;
  border-bottom: 2px solid #f3f3f3;
  margin-bottom: 0.5em;
}
.blocks_back_article{
  a{
    font-size: 16px; font-weight: 600; color: #606060; text-decoration: none;
    i.fa{ color: #000; }
  }
  a:hover,
  a:focus{
    text-decoration: none; color: #000;
  }
}

.blocks_breadcrumbs{
  padding: 0; 
  margin-bottom: 0.7em;
  ol.breadcrumb{
    margin: 0; padding: 0;
    font-size: 11px; font-weight: 300;
    .breadcrumb-item.active{
      font-weight: 600;
    }
  }
}
 
.page-item.active .page-link{
    background-color: #0d795b;
    border-color: #0d795b;
}
.page-link{
  color: #333;
}

.views_menumobile{
  position: absolute; top: 25px;
  right: 10px; 
  z-index: 20;

  button{
    padding: 0px;
  }
}

.card.default_card.block-details-post{
  .card-body{
    background: url('../images/childs-logo-ciputra.png') repeat;
    clear: both;
  }
  clear: both;
}

@media (max-width: 1030px) {
  
  .blocks-tops-search .inner-bx-search form input{
    min-width: 220px; 
  }
  .blocks-tops-search li a,
  .blocks-tops-search li{
    font-size: 14px;
  }
  .lists-shortcut .items{
    padding: 1.9em 0em;
  }

}

@media (max-width: 980px) {
  
  #content{
    // position: relative;
  }

  .blocks-tops-search .navbar.bg-light{
    padding-left: 2em; padding-right: 2em;
  }
  .container{
    max-width: 100%;
    padding: 0px;
  }

}

@media (max-width: 767px) {

  .blocks-tops-search .navbar.bg-light,
  .container{
    padding: 0 15px;
  }
  .blocks-tops-search .navbar.bg-light{
    padding-top: 1.2em; padding-bottom: 1.5em;
  }
  .blocks-tops-search .navbar.bg-light .float-right{
    float: none !important;
    margin-top: 1em;
  }
  .navbar.navbar-expand-lg{
    margin-bottom: 0; border-bottom: 1px solid #ccc;
  }
  .navbar-light .navbar-toggler{
    border:0px; padding: 0; background-color: transparent;
  }
  .navbar-light .navbar-toggler i.fa{
    font-size: 20px;
  }

  .block-right-content{
    padding-top: 2em; 
  }
  .card.default_card .card-body .detail-content-post .text-right{
    float: none; text-align: left !important;
  }
  .card.default_card .card-body .padding-def-content{
    padding-left: 15px; padding-right: 15px;
  }

  .lists-shortcut .items{
    margin-bottom: 2em;
  }

}
.mt-0{
  margin-top: 0;
}
.mb-1{
  margin-bottom: 0.8em;
}
 
.block-section.tree, 
.block-section.tree ul {
    margin:0;
    padding:0;
    list-style:none
}
.block-section.tree ul {
    margin-left:1em;
    position:relative
}
.block-section.tree ul ul {
    margin-left:.5em
}
.block-section.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}
.block-section.tree li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    color:#369;
    font-weight:700;
    position:relative
}
.block-section.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0;
}
.block-section.tree ul li:last-child:before {
    background:#fff;
    height:auto;
    top:1em;
    bottom:0;
}
.indicator {
    margin-right:5px;
}
.block-section.tree li a {
    text-decoration: none;
    color:#369;
}
.block-section.tree li button, 
.block-section.tree li button:active, 
.block-section.tree li button:focus {
    text-decoration: none;
    color:#369;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0px;
 }

.tree.block-section{
  clear: both;
  a{
    color: @color_gren !important;
  }
   ul ul a{
    padding-left: 0 !important;
    background: none;
   }
}

.back-to-listing{
  a{
    font-size: 14px; font-weight: 300; 
    color: #444444;
    text-decoration: none;
  }
  a:hover,
  a:focus{
    text-decoration: none; color: #000;
  }
}

table{
  thead{
    tr{
      th{
        font-size: 14px;
      }
    }
  }
  tbody{
    tr{
      td{
        font-size: 12px;
        i.fa{
          font-size: 12px; color: #888;
        }
      }
    }
  }
}

label.control-label{
  font-size: 0.85rem;
  line-height: 1.1;
}
input.form-control, 
select.form-control, 
textarea.form-control{ 
  font-size: 0.8rem;
}

.form_admin .form-control:disabled.backs_red, 
.form_admin .form-control[readonly].backs_red, 
.frm_admin input.backs_red, 
.frm_admin select.backs_red, 
.frm_admin textarea.backs_red,
.backs_red{
  background-color: #f6c8c8 !important;
}

.fixn_body{
  // padding: 0px;
  // border: 0px; border-radius: 0px;
  p{
    font-size: 14px; font-weight: 400; color: #000;
  }
  form{
    label{
      font-size: 17px;
      font-weight: 400;
      color: #888;
    }
    button{
      font-size: 13px; font-weight: 400; color: #000;
    }
    select{
      option:checked{
        color:#000;
      }
    }
    select{
      option::-moz-selection { /* Code for Firefox */
        color: black;
        background: #fff;
      }
      option::selection {
        color: black; 
        background: #fff;
      }
    }
  }
}


table.lists_case_m{
    tr.d_baru{
        td{
            background-color: #fff;
        }
    }
    tr.d_selesai{
        td{
            background-color: #48BB4D;
            color: #fff;
            i.fa{
              color: #fff;
            }
        }
    }
    tr.d_progress{
        td{
            background-color: #f5f5f5;
        }
    }
    tr.d_warning2,
    tr.d_terlambat{
        td{
            background-color: #da2d2d; 
            color: #fff;
            i.fa{
              color: #fff;
            }
        }
    }
    tr.d_warning{
        td{
            background-color: #f3b91c; 
            color: #fff;
            i.fa{
              color: #fff;
            }
        }
    }
    
 }